<!-- <%= params.inspect %> -->
<div class="container-fluid no-padding">
  <% if @hotMovie.featurecoverurl %>
  <%= link_to(image_tag(@hotMovie.featurecoverurl), movie_reviews_path(@hotMovie)) %>
  <% else %>
  <%= link_to(image_tag(@hotMovie.cover_url, height:200, width:'100%'), movie_reviews_path(@hotMovie)) %>
  <% end %>

  <table class="table category vcenter" style="height:40px">
    <tbody >
      <tr>
        <td><%= link_to("所有", movies_path({category_id: -1}))%></td>
        <% @categories.each do |cate| %>
        <td><%= link_to(cate.title, movies_path({category_id: cate.id}))%></td>
        <% end %>
      </tr>
    </tbody>

  </table>
</div>


<br />

<table class="table col-md-12">
<thead class="col-md-4">
  <td><%= link_to("按热度排序",movies_path({sort: "hot"})) %></td>
  <td><%= link_to("按时间排序",movies_path({sort: "time"})) %></td>
  <td><%= link_to("按评价排序",movies_path({sort: "review"})) %></td>
</thead>
<tbody>
  <% if @movies.empty? %>
  <tr>
    <td>
      <h2> NO MOVIE!</h2>
    </td>
  </tr>
  <% else %>
  <% @movies.each do |movie| %>
    <tr>
      <td>
        <div>
          <div class="row ">
          <div class="col-md-1 center-block">
            <%= link_to(image_tag(movie.cover_url, height:200), movie_reviews_path(movie)) %>
            <div>
              <%= movie.title %>
            </div>
          </div>
          <div class="col-md-9 col-md-offset-1">
            <p>
              剧情简介
            </p>
            <br />
            <p>
              <%= movie.brief %>
            </p>
            <br />
            <%= link_to("收藏", movie_favoriteIt_path(movie), method: :post,  class:"btn btn-default") %>
            <%= link_to("评论",movie_reviews_path(movie), class:"btn btn-default") %>
          </div>
        </div>
        </div>

      </td>
    </tr>
  <% end %>
  <% end %>

</tbody>
</table>
