<%= params.inspect %>
<div class="container-fluid no-padding">
  <div class="row">
    <div class="col-md-12">
      <img src="<%= @hotMovie.cover_url %>" class="img-responsive">
    </div>
  </div>
</div>

<div class="row col-md-12">

  <table class="table category vcenter" style="height:80px">
    <tbody class="col-md-12">
      <tr>
        <td><%= link_to("所有", movies_path({category_id: -1}))%></td>
        <% @categories.each do |cate| %>
        <td><%= link_to(cate.title, movies_path({category_id: cate.id}))%></td>
        <% end %>
      </tr>
    </tbody>

  </table>
</div>

<br />

<table class="table col-md-12">
<thead class="col-md-4">
  <td><%= link_to("按热度排序",movies_path({sort: "hot"})) %></td>
  <td><%= link_to("按时间排序",movies_path({sort: "time"})) %></td>
  <td><%= link_to("按评价排序",movies_path({sort: "review"})) %></td>
</thead>
<tbody>
  <% @movies.each do |movie| %>
    <tr>
      <td>
        <div>
          <div class="row ">
          <div class="col-md-1">
            <img src="<%= movie.cover_url %>" width="120"/>

            <p>
              <%= movie.title %>
            </p>
          </div>
          <div class="col-md-9 col-md-offset-1">
            <p>
              剧情简介
            </p>
            <br />
            <p>
              <%= movie.brief %>
            </p>
            <br />
            <%= link_to("收藏", movie_favoriteIt_path(movie), method: :post,  class:"btn btn-default") %>
            <%= link_to("评论",movie_reviews_path(movie), class:"btn btn-default") %>
          </div>
        </div>
        </div>

      </td>
    </tr>
  <% end %>

</tbody>
</table>
