<div class="row">
  <%= params.inspect %>
<div class="col-lg-6 col-lg-offset-3 text-center">
   <h2>Create Movie</h2>
</div>
</div>

<div class="form-group">
  <label></label>
</div>

<div class="container">

    <%= simple_form_for @movie do |f| %>
      <div class="form-group">

        <%= f.label:"Category:"%>   &nbsp; &nbsp; &nbsp;
        <%= collection_select :category, :id, Category.all, :id, :title %>
        <br/>
        <br/>
        <!-- <%= f.input :category, input_html: {class: "form-control"} %> -->
        <%= f.input :title, input_html: {class: "form-control"} %>
        <%= f.input :cover_url, input_html: {class: "form-control"} %>
        <%= f.input :brief, input_html: {class: "form-control"} %>

      </div>
      <%= f.submit "Submit", class: "btn btn-primary", data:{disable_width: "Submiting..."} %>
    <% end %>
</div>

<div>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
</div>
