<div class="container">
  <div class="row ">
  <div class="col-md-3">
    <img src="<%= @movie.cover_url %>"/>

    <p>
      <%= @movie.title %>
    </p>
  </div>
  <div class="col-md-9">
    <p>
      剧情简介
    </p>
    <br />
    <p>
      <%= @movie.brief %>
    </p>
    <br />
    <!-- <%= link_to("收藏","", class:"btn btn-default") %> -->
  </div>
</div>

<div class="col-md-4 col-md-offset-4">
  <hr>
  <%= simple_form_for [@movie,@review] do |f| %>
  <div class="form-2">
        <%= f.input :content, input_html: {class: "form-control"}%>
  </div>
  <%= f.submit "Submit", class: "btn btn-primary", data: {disable_width: "Submiting..."}%>
  <% end %>
</div>
