<!DOCTYPE html>
<html>
  <head>
    <title>M+</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style>
    .container-fluid{
      padding: 0px
    }
    </style>
  </head>

  <body>
    <div class="container-fluid">
      <%= render "common/navbar" %>

      <div class="container col-md-11">
        <%= render "common/flashes" %>
        <%= yield %>
      </div>

    </div>
    <%= render "common/footer" %>
  </body>

</html>
